# Verilog simulation outputs
*.vcd
*.vvp
*.log
*.out
*.fst
*.sav

# GTKWave waveform save files
*.gtkw

# VS Code settings (optional)
.vscode/

# Temp / backup files
*~
*.bak
*.swp
.DS_Store
*.wdb
*.wcfg
*.jou
*.log
*.rpt
*.dcp
*.ltx
.Xil/
.cache/
.hw/
.ip_user_files/
.runs/
.gen/
.sim/
xsim.dir/
**/sim_1/behav/xsim/
RV32/RV32.sim/
